[DEFAULT]
# Environment
GymEnvironment = PlanarAccel-v0
TrainingSteps = 1000000
Agent = KPolicy

# Reporting configuration
ReportInterval = 1000
TestCount = 1
TestLength = 1
CollectRewards    = On
IntervalMetrics   = On
IntervalRewards   = On
IntervalTest      = Off
IntervalProgress  = On
PlotMetrics       = On
PlotRewards       = On
PlotValueFunction = Off


# Learning parameters
RewardDiscount  = 0.99
ExplorationRate = ExponentialDecay
InitialExplorationRate = 1.0
FinalExplorationRate = 0.0
ExplorationRateStop = 100000

# POLK Parameters
KernelType = Gaussian
GaussianBandwidth = [1,1,0.5,0.5,0.1,0.1]
Regularization = 1e-6
RepresentationError = 0.00001

Algorithm = SCGD
LearningRate = 0.005
# 0.5
ExpectationRate = 0.02
#0.2

# change the max act!!

