[DEFAULT]
# Environment
GymEnvironment = GazeboPX4CopterVel-v0
TrainingSteps = 200000
Agent = ksarsa

# Learning parameters
RewardDiscount  = 0.99
ExplorationRate = 0.015
TestData = mcTest_sarsa5
TrainData = mcTrain_sarsa5


# POLK Parameters
Algorithm = SCGD
KernelType = Gaussian
GaussianBandwidth = [2,2,2,2,2,2,2,2,2,2,2,2,2]

MinibatchSize = 64

LearningRate = 0.05
ExpectationRate = 0.02

RunningAverageMultiplier = 0.1
Regularization = 1e-6
RepresentationError = 0.000001

