[DEFAULT]
# Environment
GymEnvironment = MountainCarContinuous-v0
Agent = KQLearning2
Algorithm = gtd
TrainingSteps = 500000

MaxAction = [1.0]
MinAction = [-1.0]

# Reporting configuration
ReportInterval = 1000
CollectRewards    = On
IntervalMetrics   = On
IntervalRewards   = On

IntervalTest      = On
TestLength = 300
TestCount = 3

IntervalACCTest   = Off
IntervalProgress  = On
PlotMetrics       = Off
PlotRewards       = Off
PlotValueFunction = Off

# Learning parameters
RewardDiscount  = 0.99
#ExplorationRate = 1

ExplorationRate = Linear
InitialExplorationRate = 1
FinalExplorationRate = 1
ExplorationRateStart = 0
ExplorationRateStop = 500000

# POLK Parameters
KernelType = Gaussian
GaussianBandwidth = [0.8,0.07,1.0]
Regularization = 1e-15
RepresentationError = 0.1
#2
LearningRate = 0.25
ExpectationRate = 1

GradStep = 0.1
GradPrecision = 0.005


